.bg-img {
	background-image: url("http://circuits-assets.generalassemb.ly/prod/asset/5475/toms-restaurant.jpg");
    height: 400px;
    object-fit: contain;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;
}

.text-white {
	color: #ffffff;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.box-padding {
	padding: 50px;
	text-align: center;
}

.map {
    height: 400px;  
    width: 100%;  
}
 